<?xml version="1.0"?>
<config>
	<modules>
		<Alcyonis_Referral>
			<version>0.4.0</version>
		</Alcyonis_Referral>
	</modules>
	<frontend>
		<routers>
			<referral>
				<use>standard</use>
				<args>
					<module>Alcyonis_Referral</module>
					<frontName>referral</frontName>
				</args>
			</referral>
		</routers>
        <translate>
            <modules>
                <referral>
                    <files>
                        <default>Alcyonis_Referral.csv</default>
                    </files>
                </referral>
            </modules>
        </translate>		
		<layout>
			<updates>
				<referral>
					<file>referral.xml</file>
				</referral>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<referral>
				<class>Alcyonis_Referral_Model</class>
				<resourceModel>referral_mysql4</resourceModel>
			</referral>
			<referral_mysql4>
				<class>Alcyonis_Referral_Model_Mysql4</class>
				<entities>
					<referral>
						<table>referral</table>
					</referral>
				</entities>
			</referral_mysql4>
		</models>
		<resources>
			<referral_setup>
				<setup>
					<module>Alcyonis_Referral</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</referral_setup>
			<referral_write>
				<connection>
					<use>core_write</use>
				</connection>
			</referral_write>
			<referral_read>
				<connection>
					<use>core_read</use>
				</connection>
			</referral_read>
		</resources>
		<blocks>
			<referral>
			 <class>Alcyonis_Referral_Block</class>
			</referral>
		</blocks>
		<template>
			<email>
				<referral_subscription_email_template translate="label"	module="referral">
					<label>Subscription</label>
					<file>alcyonis_referral_subscribe.html</file>
					<type>html</type>
				</referral_subscription_email_template>
				<referral_confirmation_email_template translate="label"	module="referral">
					<label>Confirmation</label>
					<file>alcyonis_referral_confirm.html</file>
					<type>html</type>
				</referral_confirmation_email_template>
			</email>
		</template>
		<events>
			<sales_order_invoice_pay>
				<observers>
					<referral>
						<type>singleton</type>
						<class>referral/observer</class>
						<method>sales_order_invoice_pay</method>
					</referral>
				</observers>
			</sales_order_invoice_pay>
		</events>
	</global>
	<default>
		<referral>
			<subscription>
				<email_identity>support</email_identity>
				<email_template>referral_subscription_email_template</email_template>
			</subscription>
			<confirmation>
				<email_identity>support</email_identity>
				<email_template>referral_confirmation_email_template</email_template>
			</confirmation>
            <cert>
                <amount>50</amount>
            </cert>			
		</referral>
	</default>
</config>